.card {
    display: flex;
    flex-direction: column;
    background: rgba(180, 182, 218);
    background: radial-gradient(
        circle,
        hsla(237, 34%, 78%, 0.9) 0%,
        hsla(219, 88%, 94%, 0.9) 100%
    );
    margin: 1rem 1rem;
    height: 8rem;
    width: 18rem;
    border-radius: .5rem;
    padding: 1rem;

    position: relative;
    @media only screen and (max-width: 400px) {
        width: 80%;
    }
}

.btns {
    position: absolute;
    bottom:.3rem;
    right: 0;
}

.actionButton {
    border-radius: 20%;
    border: none;
    margin: 0 .6rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: #271c6c;
    background-color: transparent;
}

textarea {
    padding: .5rem;
    border-radius: 8px;
    border: none;
    background-color: #e1ebfd;

    color: #271c6c;
    height: 70%;
    &:disabled {
        background-color: transparent;
    }
}

.completed {
    text-decoration: line-through;
}